
h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  color: #286573;
}

body {
  font-family: $font-family;
  height: 100vh;
  min-height: 800px;
  background: $grey40;
  overflow: auto;
}


.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calcContainer {
  width: 200px;
  border-radius: 15px;
  
  -webkit-box-shadow: 0px 5px 21px 0px rgba(51, 36, 167, 0.4);
  box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}


.display {
  background-color: #286573;
  color: #90b4bc;
  text-align: end;
  margin: 0;
  padding: 10px 10px 3px 10px;
  font-size: 1.5em;
}

.keyContainer {
  display: flex;
  flex-wrap: wrap;
  width: 200px;

}

.btn {
  background:#efefef;
  color: #286573;
  font-family:font-family;
  font-size: 18px;
  border: none;
  padding: 15px;
  flex-grow: 1;
  width: 50px;
  
}

.wide {
  width: 150px;
}

.clear {
  background-color: #90b4bc;
}

.zero {
  width: 100px;
}

.operator {
  background-color: #6a969f
}